<!DOCTYPE html>
<html>
<head>
  <title>Car Dealership</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Welcome to Lonny's Lemons</h1>
    <a href='/cars/new'>Add a new car</a>
    <br>
    <a href='/cars'>See list of available cars</a>
  </div>
</body>
</html>